@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap");

@font-face {
  font-family: "STAMPWRITER-KIT";
  font-weight: normal;

  src: url("/typefaces/STAMPWRITER-KIT.ttf") format("truetype");
}

@font-face {
  font-family: "Tippa";
  font-weight: normal;
  src: url("/typefaces/Tippa.ttf") format("truetype");
}
@font-face {
  font-family: "Special Elite";
  font-weight: normal;

  src: url("/typefaces/SpecialElite-Regular.ttf") format("truetype");
}
